#square-button, #current-combination, .color-combination {
  display: flex;
  flex-flow: row;
}


.color-square {
  margin: 2em;
  height: 5em;
  width: 5em;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}

.rosa {
  background-color: pink;
}

.azul {
  background-color: blue;
}

.morado {
  background-color:  purple;
}