body, #square-button, #current-combination, .color-combination, .historic-color-combination {
  display: flex;
  flex-flow: row;
}

#game-control {
  width: 65%;
}

#historic {
  width: 25%;
}

.color-square {
  margin: 2em;
  height: 5em;
  width: 5em;
}

.historic-color-square {
  margin: 1em;
  height: 2.5em;
  width: 2.5em;
}

.rojo {
  background-color: red;
}

.verde {
  background-color: green;
}

.amarillo {
  background-color: yellow;
}

.rosa {
  background-color: pink;
}

.azul {
  background-color: blue;
}

.morado {
  background-color:  purple;
}